* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-modify: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  background-color: green;
}

.snake-game-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.snake-game-content > h1 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: monospace;
  color: white;
}

.snake-game-content > div {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.score,
.high-score {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: lightgreen;
}
.snake-game {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  width: 600px;
  height: 600px;
  background-color: black;
  border-radius: 20px 0 20px 0;
}

.snakeIncreasing {
  background: linear-gradient(orange, red);
  box-shadow: 0px 0px 50px white;
  border-radius: 50%;
  /* transform: scale(1.2); */
}
.snakeTop {
  background: url(Favicon/icons8-year-of-snake-64.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
  background-color: transparent;
  box-shadow: none;
}
.food {
  background: url(Favicon/food2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
  background-color: transparent;
  box-shadow: none;
}

.game-result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-result-content {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(86, 148, 86);
}

.game-result-content > h1,
.game-result-content > h2 {
  font-size: 30px;
  color: #ffff;
  font-weight: 600;
  font-family: monospace;
}
.game-result-content > h2 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding: 0 50px;
}
@media (max-width: 600px) {
  .snake-game {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .game-result {
    padding: 0 10px;
  }
  .game-result-content {
    width: 100%;
  }
}
