* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-modify: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  /* height: 100%; */
  background-image: url(Bg/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

.snake-game {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.snake-game-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.score,
.high-score {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: lightgreen;
}

.snake-body {
  position: relative;
  width: 800px;
  height: 400px;
  border: 5px solid green;
}

.snake {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50px;
}
